<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.praneethkollareddy.restaurantreservation">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>




    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDHdlaUvBnD3WLvpVc5CgpCoqt-fWZkH2I" />



        <activity
            android:name=".activities.Main_Activity"
            android:label="@string/title_activity_main_"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.AddRes"
            android:label="@string/title_add_res"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActResDetails"
            android:label="@string/title_add_res_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.MakeReservation"
            android:label="@string/title_add_res"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.ActMyReservations"
            android:label="@string/title_activity_act_my_reservations"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>
